.box {
    height: 300px;
    width: 400px;
    border-radius: 30px;
    border-color: orangered;
    border-width: 2px;
    border-style: solid;
}

.font {
    font-family: 'Gayathri', sans-serif;
    font-family: 'Hina Mincho', serif;
    font-weight: 600;
    color: #0e7c7b;
}

.font2 {
    font-family: 'Aboreto', sans-serif;
    color: #DDD8B8;
}

td {
    font-family: 'Aboreto', sans-serif;
    color: #DDD8B8;
    padding: 40px;
    width: 180px;
    border-left: 1px solid #DDD8B8;
    border-right: 1px solid #DDD8B8;
    border-bottom: 1px solid #DDD8B8;
    border-top: 1px solid #DDD8B8;

}

table {
    border-spacing: 0;
    width: 100%;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none; 
}

.border1 {
    border-top: none;
}
.border2 {
    border-bottom: none;
}

@keyframes shake {
    0%, 100% { transform: rotate(0); }
    25% { transform: rotate(-2deg); }
    75% { transform: rotate(2deg); }
  }
  
  .shake {
    display: inline-block; /* Importante para a transformação */
    animation: shake 0.3s ease-in-out infinite;
    cursor: pointer;
  }
  
  
  



