<br>
<!-- Modal Structure -->
<div id="meuModal" class="modal" style="display:none;">
    <!-- Conteúdo do Modal -->
    <div class="modal-content">
        <h4>Título do Modal</h4>
        <p>Algum conteúdo para o modal...</p>
    </div>
    <div class="modal-footer">
        <button onclick="fecharModal()">Fechar</button>
    </div>
</div>
<!-- <button (click)="addTremorEffect()">Ativar Tremor</button>
<button (click)="removeTremorEffect()">Desativar Tremor</button> -->

<ng-container *ngFor="let category of categories">
    <div [id]="category.name | lowercase">
        <div style="display: flex; justify-content: center; align-items: center;">
            <h1 class="font2">{{ category.name }}</h1>
        </div>
        <table>
            <ng-container *ngFor="let row of getProductRows(category.id); let rowIndex = index; let isFirstRow = first; let isLastRow = last">
                <tr>
                    <ng-container *ngFor="let produto of row">
                        <td [ngClass]="{'border1': isFirstRow, 'border2': isLastRow}">
                            <span class="tremor-text">
                                <span class="text">{{ produto.nome }}</span>
                                <!-- <button mat-mini-fab color="basic" class="shop" (click)="addToCart(produto)"> -->
                                    <mat-icon class="shop" (click)="addToCart(produto)">add_shopping_cart</mat-icon>
                                <!-- </button> -->
                                <p style="color: orangered;" class="text">{{ produto.preco }}</p>
                            </span>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </table>
    </div>
</ng-container>


