<br>
<!-- Modal Structure -->
<div id="meuModal" class="modal" style="display:none;">
    <!-- Conteúdo do Modal -->
    <div class="modal-content">
        <h4>Título do Modal</h4>
        <p>Algum conteúdo para o modal...</p>
    </div>
    <div class="modal-footer">
        <button onclick="fecharModal()">Fechar</button>
    </div>
</div>
<button (click)="addTremorEffect()">Ativar Tremor</button>
<button (click)="removeTremorEffect()">Desativar Tremor</button>



<div id="couverts"></div>
<div style="display: flex; justify-content: center; align-items: center;">
    <h1 class="font2">Couverts</h1>
</div>
<table>
    <tr>
        <td class="border1">Purê de Batata Trufado <p style="color: orangered;">55</p></td>
        <td class="border1">Espargos Grelhados com Molho Hollandaise <p style="color: orangered;">58</p></td>
        <td class="border1">Risoto de Açafrão <p style="color: orangered;">60</p></td>
        <td class="border1">Gratinado de Batata com Queijo Gruyère <p style="color: orangered;">56</p></td>
    </tr>
    <tr>
        <td>Legumes Assados com Ervas Frescas <p style="color: orangered;">57</p></td>
        <td>Feijão Verde com Amêndoas Torradas <p style="color: orangered;">55</p></td>
        <td>Purê de Abóbora com Noz-Moscada <p style="color: orangered;">58</p></td>
        <td>Batata Doce Assada com Marshmallow <p style="color: orangered;">56</p></td>
    </tr>
    <tr>
        <td class="border2"><span class="tremor-text">Arroz de Limão com Ervilhas</span><p style="color: orangered;">54</p></td>
        <td class="border2">Salada Caesar Clássica <p style="color: orangered;">52</p></td>
        <td class="border2">Gratinado de Couve-Flor com Queijo Azul <p style="color: orangered;">65</p></td>
        <td class="border2">Risoto de Açafrão com Ervilhas Frescas <p style="color: orangered;">58</p></td>
    </tr>
</table>
<div id="entradas"></div>
<div style="display: flex; justify-content: center; align-items: center;">
    <h1 class="font2">Entradas</h1>
</div>
<table>
    <tr>
        <td class="border1">Ostras Frescas com Molho Mignonette <p style="color: orangered;">85</p></td>
        <td class="border1">Carpaccio de Wagyu com Rúcula e Parmesão <p style="color: orangered;">90</p></td>
        <td class="border1">Tartare de Atum com Abacate e Wasabi <p style="color: orangered;">95</p></td>
        <td class="border1">Foie Gras Grelhado com Chutney de Maçã <p style="color: orangered;">105</p></td>
    </tr>
    <tr>
        <td>Caviar com Blinis e Creme Fraiche <p style="color: orangered;">200</p></td>
        <td>Sopa de Lagosta com Creme de Cogumelos <p style="color: orangered;">80</p></td>
        <td>Vieiras Grelhadas com Ervas e Manteiga de Limão <p style="color: orangered;">110</p></td>
        <td>Salada Caprese com Tomate Heirloom e Mozarela de Búfala <p style="color: orangered;">85</p></td>
    </tr>
    <tr>
        <td class="border2">Terrine de Pato com Geléia de Framboesa <p style="color: orangered;">100</p></td>
        <td class="border2">Camarões Grelhados com Molho de Alho-Poró <p style="color: orangered;">95</p></td>
        <td class="border2">Salmão Defumado com Creme de Endro e Blinis <p style="color: orangered;">90</p></td>
        <td class="border2">Terrine de Foie Gras com Figos e Brioche <p style="color: orangered;">105</p></td>
    </tr>
</table>
<div id="principais"></div>
<div style="display: flex; justify-content: center; align-items: center;">
    <h1 class="font2">Pratos principais</h1>
</div>
<table>
    <tr>
        <td class="border1">Filé Mignon ao Molho de Trufas Brancas <p style="color: orangered;">175</p></td>
        <td class="border1">Salmão Selvagem Grelhado com Risoto de Limão Siciliano <p style="color: orangered;">165</p></td>
        <td class="border1">Pato Confit com Laranja e Purê de Batata-Doce <p style="color: orangered;">180</p></td>
        <td class="border1">Vieiras Frescas com Espuma de Ervas e Purê de Cenoura <p style="color: orangered;">185</p></td>
    </tr>
    <tr>
        <td>Risoto de Lagosta com Trufas Negras <p style="color: orangered;">190</p></td>
        <td>Costeletas de Cordeiro com Crosta de Ervas e Molho de Vinho Tinto <p style="color: orangered;">195</p></td>
        <td>Linguine ao Molho de Lagosta e Tomate Fresco <p style="color: orangered;">170</p></td>
        <td>Robalo com Molho de Champagne e Risoto de Aspargos <p style="color: orangered;">175</p></td>
    </tr>
    <tr>
        <td class="border2">Tornedor de Angus com Batata Gratinada <p style="color: orangered;">185</p></td>
        <td class="border2">Peito de Pato Grelhado com Geleia de Frutas Silvestres <p style="color: orangered;">180</p></td>
        <td class="border2">Risoto de Lagosta com Espuma de Champanhe <p style="color: orangered;">195</p></td>
        <td class="border2">Magret de Pato com Molho de Cereja e Purê de Aipo <p style="color: orangered;">190</p></td>
    </tr>
</table>
<div id="sobremesas"></div>
<div style="display: flex; justify-content: center; align-items: center;">
    <h1 class="font2">Sobremesas</h1>
</div>
<table>
    <tr>
        <td class="border1">Tiramisu de Chocolate Branco e Framboesa <p style="color: orangered;">65</p></td>
        <td class="border1">Crème Brûlée de Baunilha com Frutas Vermelhas <p style="color: orangered;">60</p></td>
        <td class="border1">Fondant de Chocolate Amargo com Sorvete de Framboesa <p style="color: orangered;">68</p></td>
        <td class="border1">Torta de Limão com Merengue Italiano <p style="color: orangered;">62</p></td>
    </tr>
    <tr>
        <td>Panna Cotta de Lavanda com Mel e Amêndoas <p style="color: orangered;">66</p></td>
        <td>Soufflé de Grand Marnier com Calda de Chocolate <p style="color: orangered;">70</p></td>
        <td>Cheesecake de Morango com Coulis de Frutas <p style="color: orangered;">64</p></td>
        <td>Profiteroles com Sorvete de Baunilha e Calda de Chocolate Quente <p style="color: orangered;">68</p></td>
    </tr>
    <tr>
        <td class="border2">Tarte Tatin de Maçã com Sorvete de Canela <p style="color: orangered;">65</p></td>
        <td class="border2">Mousse de Maracujá com Frutas Tropicais <p style="color: orangered;">62</p></td>
        <td class="border2">Bolo de Chocolate Decadente com Sorvete de Framboesa <p style="color: orangered;">67</p></td>
        <td class="border2">Pavlova de Frutas Tropicais com Coulis de Maracujá <p style="color: orangered;">70</p></td>
    </tr>
</table>
<div id="vinhos"></div>
<div style="display: flex; justify-content: center; align-items: center;">
    <h1 class="font2">Vinhos</h1>
</div>
<table>
    <tr>
        <td class="border1">Château Margaux 2015</td>
        <td class="border1">Opus One 2016</td>
        <td class="border1">Dom Pérignon Champagne Vintage 2010</td>
        <td class="border1">Sassicaia 2017</td>
    </tr>
    <tr>
        <td>Krug Grande Cuvée Champagne</td>
        <td>Château Pétrus 2014</td>
        <td>Silver Oak Cabernet Sauvignon 2016</td>
        <td>Château d'Yquem Sauternes 2017</td>
    </tr>
    <tr>
        <td class="border2">Barolo Riserva Monfortino Giacomo Conterno 2013</td>
        <td class="border2">Château Lafite Rothschild 2016</td>
        <td class="border2">Château Latour 2016</td>
        <td class="border2">Dom Pérignon Rosé Champagne Vintage 2008</td>
    </tr>
</table>
