<div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
    <img src="../../assets/logoclaro.png" alt="" style="height: 250px; width: 250px; margin-bottom: 35px;">
    <div style="display: flex; flex-direction: column; margin-right: 18px;">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput #input placeholder="Ex: juan@gmail.com">
        </mat-form-field>    
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput #input placeholder="Ex: Batata123">
        </mat-form-field>  
        <p>Novo? <a href="">cadastre-se</a></p> 
    </div>
    <a href="home">
      <button mat-mini-fab color="basic" style="margin-bottom: 50px;">
        <mat-icon>login</mat-icon>
      </button>
    </a>
</div>

<router-outlet></router-outlet>
