<div style="height: 800px; width: 400px; overflow: hidden; border: 2px solid #DDD8B8; border-radius: 10px; background-color: #00272b; display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <!-- <img src="../../assets/logoclaro.png" alt="" style="height: 50px; width: 50px; margin-bottom: 10px;"> -->
    <h1 style="color: #DDD8B8;" class="font">Carrinho</h1>
    
    <div style="display: flex; align-items: center; justify-content: flex-start;">
        <div style="height: 450px; overflow-y: auto; width: 100%;">
            <ul>
                <ng-container *ngFor="let item of items">
                    <li style="color: #DDD8B8;">
                        <p>
                            {{ item.nome }}
                        </p>
                        <p style="color: orangered;">
                            {{ item.preco }}
                        </p>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>

    <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 20px;">

        <p>
            <mat-form-field appearance="fill" style="width: 250px;">
                <input matInput placeholder="Insira aqui seu cupom" [(ngModel)]="cupomInserido"/>
            </mat-form-field>
        </p>
    
        <button mat-mini-fab color="basic" style="margin-bottom: 30px; margin-left: 10px;" (click)="aplicarCupom()">
            <mat-icon>add</mat-icon>
        </button>

        <div *ngIf="mensagemErro" style="color: red;">
            {{ mensagemErro }}
        </div>
    </div>

    <hr style="color: #DDD8B8; background-color: #DDD8B8; width: 300px;">

    <p style="color: #DDD8B8; text-align: left; width: 100%; margin-left: 100px;">Total: R${{ total.toFixed(2) }}</p>
    <p style="color: #DDD8B8; text-align: left; width: 100%; margin-left: 100px;">Descontos: R${{ descontoAplicado.toFixed(2) }}</p>
        
    <button mat-flat-button (click)="finalizar()" style="background-color: #DDD8B8; color: #00272b;">Finalizar pedido</button>
</div>
