<mat-sidenav-container style="height: 100%;">
    <mat-sidenav #drawer class="example-sidenav" mode="side" style="height: 100%; width: 250px; background-color: #00272b;">
        <div style="display: flex; align-items: center; justify-content: flex-start; margin-top: 40px; ">
            <!-- <p style="margin-top: 40px; margin-left: 30px; color: #DDD8B8;">Olá, {{meuNome}}!</p> -->
            <p style="margin-left: 30px; color: #DDD8B8;">Olá, {{meuNome}}!</p>
        
            <button mat-mini-fab color="basic" style="margin-left: 80px; margin-bottom: 15px;" (click)="abrirCarrinho()">
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </div>
        

        <button mat-raised-button class="sidebuttons" style="background-color: #00272b; color: #DDD8B8;">Meus Pedidos</button>
        <button (click)="cupons()" mat-raised-button class="sidebuttons" style="background-color: #00272b; color: #DDD8B8">Cupons</button>
        <button *ngIf="isAdmin" (click)="showFiller = !showFiller" mat-raised-button class="sidebuttons" style="background-color: #00272b; color: #DDD8B8">Admin</button>

        <div *ngIf="showFiller">
            <button (click)="abrirCadastroCupom()" mat-raised-button class="sidebuttons" style="background-color: #DDD8B8; color: #00272b;">Cadastrar Promoções</button>
            <button (click)="abrirCadastroProduto()" mat-raised-button class="sidebuttons" style="background-color: #DDD8B8; color: #00272b;">Cadastrar Produto</button>
            <button (click)="addTremorEffect()" mat-raised-button class="sidebuttons" style="background-color: #DDD8B8; color: #00272b;">Deletar Produto</button>
        </div>
    </mat-sidenav>    

    <mat-sidenav-content>
        <div style="position: absolute; top: 0; left: 0; z-index: 1001;">
            <button type="button" mat-button (click)="drawer.toggle()" class="b">
                <mat-icon fontIcon="menu" style="color: #DDD8B8;"></mat-icon>
            </button>
        </div>

        <div class="parallax"></div>

        <div>
            <h1 class="font" style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #DDD8B8;">
                Chez-Juan
            </h1>
        </div>

        <div style="display: flex; justify-content: center; position: absolute; top: 80%; width: 100%;">
            <button (click)="scrollToDestination('Couverts')" class="botao">COUVERTS</button>
            <button (click)="scrollToDestination('Entradas')" class="botao">ENTRADAS</button>
            <button (click)="scrollToDestination('Pratos Principais')" class="botao">PRINCIPAIS</button>
            <button (click)="scrollToDestination('Sobremesas')" class="botao">SOBREMESAS</button>
            <button (click)="scrollToDestination('Vinhos')" class="botao">VINHOS</button>    
        </div>        
    </mat-sidenav-content>
</mat-sidenav-container>
