<div style="display: flex; flex-direction: column; position: relative;">
    <!-- <img src="https://conteudo.imguol.com.br/c/entretenimento/60/2022/01/13/folhas-diversas-1642109435159_v2_1920x1080.jpg" id="parallaxImage" style="height: 100%; width: 100%;"> -->
    <div class="parallax"></div>
    <div id="header1">
        <h1 class="font" style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #DDD8B8;" >
            Chez-Juan
        </h1>
    </div>
    <div style="display: flex; flex-direction: column;">
        <button (click)="scrollToDestination('#couverts')" class="botao" style="left: 30%;">COUVERTS</button>
        <button (click)="scrollToDestination('#entradas')" class="botao" style="left: 40%;">ENTRADAS</button>
        <button (click)="scrollToDestination('#principais')" class="botao" style="left: 50%;">PRINCIPAIS</button>
        <button (click)="scrollToDestination('#sobremesas')" class="botao" style="left: 60%;">SOBREMESAS</button>
        <button (click)="scrollToDestination('#vinhos')" class="botao" style="left: 70%;">VINHOS</button>    
    </div>
</div>
