<div style="display: flex; flex-direction: column; position: relative;">
    <div class="parallax"></div>
    <div id="header1">
        <h1 class="font" style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #DDD8B8;">
            Chez-Juan
        </h1>
    </div>
    <div style="display: flex; justify-content: center; position: absolute; top: 80%; width: 100%;">
        <button (click)="scrollToDestination('#couverts')" class="botao">COUVERTS</button>
        <button (click)="scrollToDestination('#entradas')" class="botao">ENTRADAS</button>
        <button (click)="scrollToDestination('#principais')" class="botao">PRINCIPAIS</button>
        <button (click)="scrollToDestination('#sobremesas')" class="botao">SOBREMESAS</button>
        <button (click)="scrollToDestination('#vinhos')" class="botao">VINHOS</button>    
    </div>
</div>

