.font {
    font-family: 'Gayathri', sans-serif;
    color: #00272b;
}

.botao {
    transition: 0.5s;
    padding: 20px; 
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.4);
    color: #DDD8B8;
    border: 2px solid #DDD8B8;
    border-radius: 5px;
    margin: 0 30px;
}

.botao:hover {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.6);
}

.parallax {
    background-image: url("https://conteudo.imguol.com.br/c/entretenimento/60/2022/01/13/folhas-diversas-1642109435159_v2_1920x1080.jpg");
    min-height: 100%;
    /* min-width: 100%; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sidebuttons {
    margin-top: 30px;
    margin-left: 25px;
    width: 200px;
    height: 100px;
    color: #DDD8B8;
    border: 2px solid #DDD8B8;
    border-radius: 5px;
    transition: 0.5s;
  }

  .sidebuttons:hover {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.6);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


  
